*{
    margin: 0;
    padding: 0;
}

body{
    background: #9127ef;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 700px;
    padding: 50px;
    align-self: center;
}

.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > .row{
    width: 100%;
    justify-content: space-evenly;
}

.name{
    font-size: xx-large;
}

.profile-icon{
    border-radius: 50%;
    border: 2px solid bisque;
}

.round-runs{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}

.score{
    font-size: xx-large;
}

.score > span{
    font-size: 0 5px;
}

#strike-button{
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg,#c02425,#f0cb35);  
    font-size: large;
    font-weight: bold;
    width: 300px;
}